# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de la aplicación
app/documents/*
!app/documents/sample.txt
!app/documents/o4-document.pdf
app/chroma_data/*
!app/chroma_data/.gitkeep
